// color scheme, 1
$background: #336699;
$content-area: #5278c0;
$background-footer: #5278c0;
$background-darker: #5278c0;

$standard-white: #fff;
$standard-black: #000;

$gradient-to-color: #86bbd8;

$figcaption-background: #222;
$aside: #fff8f0;
$validation-error: rgb(227, 77, 77);

$active-link: #daf7dc;
