body,
p {
  font-size: 5rem;
  font-family: 'Quicksand', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Quicksand', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
}

h1 {
  font-size: 95%;
  font-weight: 600;
}
h2 {
  font-size: 55%;
  font-weight: 500;
}
h3 {
  font-size: 45%;
  font-weight: 400;
}
p {
  font-size: 30%;
}
nav {
  font-size: 80%;
}

figcaption {
  font-size: 30%;
}

ul {
  font-size: 50%;
}
